<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872766379916-redkqbjrv43h0gkqkqqpulcso2ettslk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872766379916-redkqbjrv43h0gkqkqqpulcso2ettslk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>872766379916-aig7aog4c9msto8mgs8mpcarj5fb0ov1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPgEOIyPDwxVkfC8xkxNQ5rBCZwftliJg</string>
	<key>GCM_SENDER_ID</key>
	<string>872766379916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.classChat</string>
	<key>PROJECT_ID</key>
	<string>cool-chat-class-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cool-chat-class-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872766379916:ios:2b65af9cd43f270fec28a9</string>
	<key>DATABASE_URL</key>
	<string>https://cool-chat-class-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>